[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-migrate = "*"
pydantic = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13.5"

[scripts]
dev='python dev.py'
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"